.container-sm{
    .row{
        form{
            .div_input_file{
                display: flex;
                flex-direction: column;
                input{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                }
                &.none{
                    display: none;
                }
            }
            // .div_input_file.none{
            //     display: none;
            // }
            .name_media.none{
                display: none;
            }
        }
    }
}

.wrapper{
    ul#accordionSidebar.sidebar{
        li.nav-item.active{
            a.nav-link{
                span{
                    color: rgb(248, 145, 163);
                }
           }

        }
    }
}
