@font-face {
  font-family: "Iceland";
  src: url("../font/Iceland-Regular.ttf") format("truetype");
}
* {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  margin: 0;
  background-color: black;
  width: 100vw;
  max-height: 100vh;
  overflow: scroll;
}

header .navbar {
  padding: 0.5em 0;
  height: 5.5em;
  margin: 0;
}
header .navbar button {
  border: none;
}
header .navbar-collapse {
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.85);
  padding: 0px 1em 0.5em;
}
header .container-fluid {
  padding: 0;
}
header a.navbar-brand {
  margin: 0;
  padding: 0 0.5em;
}
header a.navbar-brand img {
  position: relative;
  z-index: 5;
  width: 7em;
}

main.container {
  padding: 0;
}

div.footer {
  position: fixed;
  bottom: 1.5em;
  display: flex;
  width: 100%;
  justify-content: center;
}

a.reseaux {
  position: absolute;
  display: inline-block;
  width: 3.5em;
  height: 3.5em;
  opacity: 0;
  transition: ease-in-out 0.9s;
  display: flex;
  justify-content: center;
  align-items: end;
}
a.reseaux img {
  width: 2.7em;
  height: 2.7em;
  -o-object-fit: cover;
     object-fit: cover;
}

#discorde img {
  width: 3em;
  height: 2.5em;
  -o-object-fit: cover;
     object-fit: cover;
}

#discorde-button {
  z-index: 10;
  display: inline-block;
  width: 3.5em;
  height: 3.5em;
  display: flex;
  justify-content: center;
  align-items: end;
  opacity: 1;
  cursor: pointer;
}
#discorde-button img {
  width: 3.5em;
  height: 2.7em;
  -o-object-fit: cover;
     object-fit: cover;
}

#instagram.active {
  transform: translate(-3.5em, -3em);
  transition: ease-in-out 0.9s;
  opacity: 1;
}

#tiktok.active {
  transform: translate(-6.8em, -6em);
  transition: ease-in-out 0.9s;
  opacity: 1;
}

#twitch.active {
  transform: translate(3.5em, -3em);
  transition: ease-in-out 0.9s;
  opacity: 1;
}

#twitter.active {
  transform: translate(6.8em, -6em);
  transition: ease-in-out 0.9s;
  opacity: 1;
}

#facebook.active {
  transform: translateY(-4.2em);
  transition: ease-in-out 0.9s;
  opacity: 1;
}

#youtube.active {
  transform: translateY(-8.6em);
  transition: ease-in-out 0.9s;
  opacity: 1;
}

#discorde.active {
  z-index: 11;
}

#compte {
  font-family: "Iceland", cursive;
  color: #fba808;
  position: absolute;
  top: 55%;
  width: 100vw;
  text-align: center;
  font-size: 3.5em;
}

.information {
  position: fixed;
  top: 40%;
  width: 50%;
  padding: 0 1em;
  font-family: arial;
  color: rgba(255, 255, 255, 0.7411764706);
}

@media (min-width: 768px) {
  .footer:hover #facebook {
    transform: translateX(3.5em);
    transition: ease-in-out 0.9s;
    opacity: 1;
  }
  .footer:hover #tiktok {
    transform: translateX(6.3em);
    transition: ease-in-out 0.9s;
    opacity: 1;
  }
  .footer:hover #instagram {
    transform: translateX(9.2em);
    transition: ease-in-out 0.9s;
    opacity: 1;
  }
  .footer:hover #twitter {
    transform: translateX(-3.3em);
    transition: ease-in-out 0.9s;
    opacity: 1;
  }
  .footer:hover #youtube {
    transform: translateX(-6.3em);
    transition: ease-in-out 0.9s;
    opacity: 1;
  }
  .footer:hover #twitch {
    transform: translateX(-9.3em);
    transition: ease-in-out 0.9s;
    opacity: 1;
  }
  .footer:hover #discorde {
    z-index: 11;
  }
  div.teaser {
    width: 100%;
  }
  div.teaser div.img {
    width: 60%;
    align-self: flex-end;
  }
  div.teaser div.img img {
    width: 100%;
  }
  div.teaser div.img .layout-img {
    background: rgb(0, 0, 0);
    background: linear-gradient(165deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.1992997028) 72%, rgba(0, 0, 0, 0) 86%, rgb(0, 0, 0) 100%);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  a.reseaux {
    position: absolute;
    display: inline-block;
    width: 3.5em;
    height: 3.5em;
    opacity: 0;
    transition: ease-in-out 0.9s;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  a.reseaux img {
    width: 2em;
    height: 2em;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #compte {
    top: 45%;
    font-size: 7.5em;
  }
  .information {
    position: absolute;
    top: 20%;
    margin: 0 auto;
    max-width: 500px;
    font-size: 1.7em;
    padding: 0 0 0 4em;
  }
}/*# sourceMappingURL=style.css.map */