nav{
    .navbar-brand{
        width: 3em;
        img{
            width: 100%;
        }
    }
}
body{
    margin: 0;
}

div.teaser{
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    img{
        width: 35%;
    }
}

div.footer{
    position:relative;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    align-self: center;
    margin: 0 auto;
}

a.reseaux{
    position: absolute;
    display: inline-block;
    width: 1.5em; 
    opacity: 0;
    transition: ease-in-out .9s;
    img{
        width: 100%;
    }
}


// .reseaux.none{
//     display: none;
// }


#discorde{
    display: inline-block;
    width: 3em;
    // background-color: black;
    opacity: 1;
    img{
        width: 100%;
    }
}


#facebook.active{
    transform: translateX(3em);
    transition: ease-in-out .9s;
    opacity: 1;
}
#tiktok.active{
    transform: translateX(6em);
    transition: ease-in-out .9s;
    opacity: 1;

}
#twitter.active{
    transform: translateX(-2em);
    transition: ease-in-out .9s;
    opacity: 1;

}
#youtube.active{
    transform: translateX(-5em);
    transition: ease-in-out .9s;
    opacity: 1;

}

#discorde:hover{
    transform: scale(1.1);
    transition: ease-in-out .2s;
    opacity: 1;

}


#compte{
    color: white;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 3.5em;
}